.container {
  font-family: "Roboto", sans-serif;
  margin: -8px;
}

header h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 50px;
}

header a {
  color: black;
}

header i {
    padding-top: 25px;
    float: left;
    font-size: 25px;
    padding-left: 10px;
}

h1, h2, h4 {
    font-family: "Shrikhand", sans-serif;
  }

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.paletteMenu {
  background-color: #f6f6f6;
  margin-top: -30px;
  padding-bottom: 30px;
}

.titleHeart {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.icon_heart {
  display: none;
}

.icon_heart_active :focus {
  background: linear-gradient(#ff91e0, #9460d3);
}

.icon_heart_active {
  align-self: center;
  font-size: 20px;
  padding-left: 15px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon_heart_active :hover {
  color: #9356dc;
  background: linear-gradient(#9356dc, #ff79da);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: earth 0.2s linear;
}

h2 {
  font-size: 30px;
}

h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: lighter;
  border-bottom: solid 2px #99e2d0;
  width: 3%;
  margin: 30px auto 0;
}

.blocPlats {
  width: 80%;
  margin: 0 auto;
}

.plat {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 19%);
  animation: 1.5s ease-in 0s reverse both slidein;
}

.description {
  padding-left: 10px;
  padding-bottom: 10px;
  flex: 1;
}

h5 {
  font-size: 17px;
}

.description p {
  font-size: 15px;
  margin-top: -20px;
  transition: transform 0.8s ease-out;
}

.prix {
  align-self: center;
  font-weight: 600;
  transition: transform 0.8s ease-out;
}

.plat:hover .prix {
  transform: translateX(-100px);
}

.plat .checkAnimation {
  color: white;
  background-color: #99e2d0;
  padding: 34px 0px;
  text-align: center;
  border-radius: 0px 15px 15px 0px;
  opacity: 0;
}

.plat:hover .checkAnimation {
  opacity: 1;
  animation: 0.8s ease-out checkout;
  animation-fill-mode: forwards;
}

.plat:hover .checkAnimation i {
  animation: 0.8s rotate;
}

.commander {
  color: white;
  width: 40%;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  border-radius: 25px;
  box-shadow: 0 5px 5px #7575755e;
  background: linear-gradient(#ff93e1, #a16be0);
}

.commander:hover {
  background: linear-gradient(#f8a3e0, #c395f3);
  box-shadow:0 7px 7px #3d3d3d5e;
}

footer {
  background-color: #353535;
  margin-top: -25px;
  padding-bottom: 45px;
  text-align: center;
}

h4 {
  color: white;
  font-size: 18px;
  padding-top: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

.footerAction {
  display: flex;
  justify-content: center;
  margin-top: -8px;
}

.footerAction i {
  font-size: 12px;
  margin-top: 2px;
}

.footerAction p {
  margin-top: 0;
}

.faP {
  margin-left: 14px;
}

.faP2 {
  margin-left: 10px;
}

/*KEYFRAMES*/
@keyframes slidein {
  0% {
    transform: translatey(0px);
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translatey(20px);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes checkout {
  from {
    width: 0;
    opacity: 0.5;
  }

  to {
    width: 20%;
    opacity: 1;
  }
}

@keyframes prix {
  0% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

/*VERSION TABLETTE*/
@media only screen and (max-width: 1024px) {
  h3 {
    width: 40px;
  }

  .plat:hover .prix {
    transform: translateX(-35px);
  }
}

/*VERSION MOBILE*/
@media only screen and (max-width: 600px) {
  header i {
    font-size: 20px;
    padding-top: 12px;
}

  header h1 {
      font-size: 30px;
  }

  h1, h2, h4 {
      font-family: "Shrikhand", sans-serif;
  }

  main {
    margin-top: -10px;
  }

  img {
    height: 270px;
  }

  .menu {
    margin-top: -15px;
  }

  .paletteMenu {
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    padding-bottom: 5px;
    position: relative;
  }

  .titleHeart {
    padding-top: 10px;
  }

  h2 {
    font-size: 27px;
    padding-right: 30px;
  }

  .icon_heart_active {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
    color: #747372;
    margin-left: 20px;
  }

  .blocPlats {
    width: 90%;
  }

  .description {
    padding-bottom: 0;
    margin-top: -20px;
    padding-top: 5px;
  }

  .description p {
    font-size: 14px;
    margin-top: -25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .prix {
    font-size: 14px;
    padding-top: 18px;
    transition: 0.8s ease-out;
  }

  .plat:hover .prix {
    transform: translateX(-15px);
  }

  .plat:hover .description p {
    width: 60%;
  }

  .plat .checkAnimation {
    padding: 24px 0;
  }

  footer {
    text-align: left;
    padding-left: 20px;
  }

  .footerAction {
    justify-content: left;
  }

  @keyframes checkout {
    0% {
      width: 0;
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      width: 15%;
      opacity: 1;
    }
  }
  
  @keyframes prix {
    0% {
      margin-left: -50px;
    }
  
    100% {
      margin-left: 0;
    }
  }

}