/* HEADER */
.container {
  font-family: "Roboto", sans-serif;
  margin: -8px
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}

h1, h4 {
  font-family: "Shrikhand", sans-serif;
}

.localisation {
  text-align: center;
  background-color: #eaeaea;
  margin: 0 auto;
}

.localisation i {
  margin-top: 16px;
  display: inline-block;
}

.localisation p {
  padding-left: 5px;
  display: inline-block;
}

/* MAIN
  RESA */
h2 {
  text-align: center;
}

.reserver {
  background-color: #f6f6f6;
  padding-bottom: 30px;
  margin-top: -20px;
  text-align: center;
}

.reserver h2 {
  padding-top: 35px;
}

.decouvrir {
  color: #7d7d7d;
}

.bouton_explorer {
color: white;
background: linear-gradient(#ff79da, #9356dc);
padding: 20px 30px 20px 30px;
border-radius: 30px;
border: none;
box-shadow: 0px 2px 6px rgb(0 0 0 / 25%);
margin: 30px auto 50px auto;
display: block;
font-size: 17px;
cursor: initial;
}

.bouton_explorer:hover {
  background: linear-gradient(#f8a3e0, #c395f3);
  box-shadow:0 7px 7px #3d3d3d5e;
}

/* FONCTIONNEMENT */
.fonctionnement {
  margin-top: 45px;
}

.blocEtapes {
  width: 50%;
  min-width: 320px;
  margin: auto;
}

.etape {
  display: flex;
  background-color: #f6f6f6;
  padding: 10px 0;
  border-radius: 25px;
  margin-bottom: 25px;
  box-shadow: 0 5px 5px #7575755e;
}

.numeroEtape {
  color: white;
  background-color: #9356dc;
  border-radius: 30px;
  margin-left: -15px;
  padding-top: 3px;
  height: 23px;
  width: 25px;
  text-align: center;
  align-self: center;
}

.actionEtape {
  display: flex;
  margin: 0 auto;
}

.etape i {
  color:#7e7e7e;
  font-size: 18px;
  padding-top: 16px;
}

.etape p {
  padding-left: 5px;
}

/*RESTAURANTS*/
.blocRestaurants {
  background-color: #f6f6f6;
  margin-top: 45px;
  padding-top: 15px;
  padding-bottom: 45px;
}

.blocRestaurants img {
  height: 175px;
  width: 328px;
  border-radius: 15px 15px 0 0;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nouveau {
  font-size: 13px;
  font-weight: bold;
  color: #008766;
  background-color: #99e2d0;
  position: absolute;
  margin-left: 240px;
  padding: 7px 12px;
  border-radius: 3px;
}

.nomRestau {
  background-color: white;
  height: 80px;
  width: 328px;
  margin-top: -22px;
  margin-bottom: 15px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 5px 5px #7575755e;
}

.icon_heart_active :focus {
  background: linear-gradient(#ff91e0, #9460d3);
}

.icon_heart_active {
  float: right;
  padding-right: 20px;
  margin-top: -60px;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon_heart_active :hover {
  color: #9356dc;
  background: linear-gradient(#9356dc, #ff79da);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: earth 0.2s linear;
} 

.blocGauche {
  padding-left: 15px;
}

.blocGauche h3 {
  padding-top: 15px;
}

.blocGauche p {
  margin-top: -15px;
}

footer {
  background-color: #353535;
  margin-top: -25px;
  padding-bottom: 45px;
  text-align: center;
}

h4 {
  color: white;
  font-size: 18px;
  padding-top: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

.footerAction {
  display: flex;
  justify-content: center;
  margin-top: -8px;
}

.footerAction i {
  font-size: 12px;
  margin-top: 2px;
}

.footerAction p {
  margin-top: 0;
}

.faP {
  margin-left: 14px;
}

.faP2 {
  margin-left: 10px;
}

main {
  animation: opacity 1.7s linear;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}

.loader {
  position: fixed;
  z-index: 999;
  border-top: 16px solid #af669a;
  border-bottom: 16px solid #9356dc;
  border-radius: 50%;
  margin: 0;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  visibility: hidden;
  animation: spin 1s linear;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
  10px 10px 10px rgba(0, 0, 0, 0.4),
  inset -5px -5px 5px rgba(255, 255, 255, 0.2),
  inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}

@keyframes spin {
  0% {
    visibility: visible;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  90% {
    transform: translate(-50%, -50%) rotate(340deg);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}

/*VERSION TABLETTE*/
@media only screen and (max-width: 1024px) {
  .loader {
    top: 30%;
    margin-right: 0;
  }
}


@media only screen and (max-width: 600px) {
    /* HEADER */
    .container {
      font-family: "Roboto", sans-serif;
      margin: -20px -8px 0 -8px;
    }
    
    h1 {
      box-shadow: 0px 1px 15px gray;
      font-size: 30px;
      padding: 10px 0;
      position: relative;
    }

    .localisation {
      margin-top: -20px;
    }

    /* MAIN
      RESA */
    .reserver {
      padding-bottom: 5px;
    }

    .bouton_explorer {
      padding: 15px 20px 15px 20px;
      font-size: 15px;
    }

    /* FONCTIONNEMENT */
    .fonctionnement h2, .blocRestaurants h2, footer {
      text-align: left;
      padding-left: 20px;
    }

    .actionEtape {
      margin: 0 0 0 25px;
    }

    .numeroEtape {
      font-size: 14px;
      padding-top: 1px;
      height: 20px;
      width: 21px;
    }

    .etape p {
      padding-left: 30px;
    }

    /*RESTAURANTS*/
    .blocRestaurants {
      margin-top: 68px;
      padding-top: 35px;
    }

    .blocRestaurants img {
      object-fit: cover;
    }

    .icon_heart_active {
      float: right;
      padding-right: 20px;
      margin-top: -60px;
      font-size: 20px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .icon_heart_active :hover {
      color: #9356dc;
      background: linear-gradient(#9356dc, #ff79da);
      text-shadow: none;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: earth 0.2s linear;
    }

    .footerAction {
      justify-content: left;
    }
}